.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.flex-container > * {
  height: 30rem;
}

.inline > * {
  display: inline;
  margin-right: 5px;
  font-size: 2em;
}

.group-card {
  margin: 2%;
  padding: 5em;
}

.list-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.list-card {
  margin: 2%;
  padding: 5em;
  width: 70%;
}

.list-card > input {
  padding: 10px;
  border: 3px solid #1c6758;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  width: 50%;
}

.list-card > button {
  padding: 10px 20px;
  background-color: #1c6758;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  width: 10%;
}
.outline {
  border: 2px solid #000;
  border-radius: 5px;
}

.outline-highlight {
  border: 15px dotted #1c658c;
  border-radius: 5px;
}

hr {
  border-top: 25px double #1c658c;
  border-bottom: 25px dotted #1c6758;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

/* ********************** Header and NavBar ******************** */

.header-title {
  flex-wrap: wrap;
  background-color: #1c658c;
  color: white;
  font-family: "Lato";
  font-size: 60px;
  text-align: center;
  font-weight: 800;
  line-height: 120px;
  letter-spacing: 1px;
}

.nav-container {
  background: #eef2e6;
  font-family: "Lato";
  color: #7fbcd2;
  padding: 3% 5% 3% 11%;
  display: flex;
}

.nav-text {
  font-weight: 300;
  font-size: 16px;
  font-weight: 250;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.nav-btn {
  font-size: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-flexbox;
  flex-direction: row;
  width: 100px;
  position: relative;
  background: #548ca8;
  padding: 20px 50px;
  margin: 0 auto;
  box-shadow: 0 7px #1c6758;
  border-radius: 20px;
}

.nav-btn:hover {
  box-shadow: 0 4px #1c6758;
  top: 2px;
}

.nav-btn:active {
  box-shadow: 0 0 #1c6758;
  top: 6px;
}

.nav-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ********************** ToDoList and ToDo ******************** */

.strikethrough {
  text-decoration: line-through;
}

/* ********************** Form ******************** */

.login-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  font-family: Lato;
}

.login-header {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  font-family: Lato;
  font-size: 30px;
}

.login-input {
  height: 2em;
  border-radius: 10px;
}

.login-button {
  background-color: #1c658c;
  color: white;
  height: 50px;
  font-family: Lato;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}
button:hover {
  background: #398ab9;
}

.toggle-button {
  outline: none;
  border: none;
  color: white;
  font-size: larger;
  cursor: pointer;
  display: inline-flexbox;
  flex-direction: row;
  max-width: 180px;
  position: relative;
  background: #035f8d;
  padding: 15px 15px;

  box-shadow: 0 7px #36cdaf;
  border-radius: 20px;
}

.toggle-button:hover {
  box-shadow: 0 4px #33b89d;
  top: 2px;
}

.toggle-button:active {
  box-shadow: 0 0 #22917b;
  top: 6px;
}

/* ********************** Logged user ******************** */

.user-name {
  font-size: 1.25em;
  font-weight: bold;
  color: #064420;
  text-transform: capitalize;
  margin: 4px, 4px, 0, 4px;
  padding: 10px;
  background-color: #e4efe7;
  border: 2px solid #064420;
  border-radius: 10px;
  display: inline-block;
  font-family: "lato";
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.memo {
  font-size: 25px;
}

.todo-button {
  outline: none;
  border: none;
  margin: 1em;
  color: white;
  font-size: larger;
  cursor: pointer;
  display: inline-flexbox;
  flex-direction: row;
  max-width: 180px;
  position: relative;
  background: #035f8d;
  padding: 15px 15px;

  box-shadow: 0 7px #36cdaf;
  border-radius: 20px;
}

.todo-button:hover {
  box-shadow: 0 4px #33b89d;
  top: 2px;
}

.todo-button:active {
  box-shadow: 0 0 #22917b;
  top: 6px;
}
