#quote {
  font-size: 2em;
  font-family: "Lato";
}

.ron-container {
  display: flex;
  max-width: 80%;
  justify-content: center;
  align-items: center;

  margin: auto;
}

.display {
  display: grid;
  place-items: center;
  margin: auto;
}

.swanson-button {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 20px;
  background: #fff;
  border: 2px solid #1c6758;
  margin: 0 auto;
  letter-spacing: 2px;
  text-shadow: 0;
  font-size: 1em;
  font-weight: bold;

  margin: 0 auto;
  box-shadow: 0 6px #efa424;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-family: "Lato", sans-serif;
}

.swanson-button:hover {
  box-shadow: 0 4px #1c6758;
  background-color: rgb(209, 230, 251);
  top: 2px;
}

.swanson-button:active {
  box-shadow: 0 0 #efa424;

  top: 6px;
}
#ron {
  border-radius: 50%;
  border: solid black;
}
